body {
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
}
.navbar {
  background: pink;
  height: 60px;
  width: 100%;
}
.sidebar {
  background: yellow;
  height: 100%;
  width: 200px;
}
.song-list {
  background: cyan;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.song {
  display: flex;
  justify-content: space-between;
}
.main {
  display: flex;
  height: calc(100% - 60px);
}
.App {
  height: 100vh;
}
